@import "../../../common/colors.scss";

.dropdown {
  width: 135px;
  color: $font-primary;
  margin: 0 auto;
  user-select: none;
  position: relative;

  .dropdown-btn {
    padding: 10px;
    background: $secondary-color;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.46);
    font-weight: bold;
    cursor: pointer;
  }

  .dropdown-content {
    position: absolute;
    z-index: 99999999;
    top: 110%;
    background: $secondary-color;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.16);
    font-weight: 500;
    width: 100%;

    .dropdown-item {
      padding: 5px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: rgba(15, 15, 15, 0.288);
      }
    }
  }

}


.btn-favorite {
  background: rgb(45, 0, 68) !important;
  box-shadow: 3px 3px 10px 6px rgba(19, 0, 29, 0.46) !important;
}

.btn-nodrop {
  width: 100px !important;
}