@import "../src/common/colors.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: $primary-color;
}

.container {
  margin: 0px 40px;
}